extends layout

block content
        .content
                // Your content here
                h1 Results
                    p URL: #{result.url}
                    p Virus Total Threat Score: 
                    table
                        tr
                            th Harmless
                            th Malicious
                            th Suspicious
                            th Undetected
                        tr
                            td #{result.threatScoreHarmless}
                            td #{result.threatScoreMalicious}
                            td #{result.threatScoreSuspicious}
                            td #{result.threatScoreUndetected}
