extends layout

block content
        div.content
                div.results    
                    h1 Results for #{result.url} 
                div.GenAI 
                    h1 GenAI Assesment
                    p #{result.genAI}
                a(href=`https://www.virustotal.com/gui/home/url`, style="text-decoration: none", target="_blank")
                    div.vtotal
                        h1 Virus Total Threat Score #{result.virusTotalThreatScore}
                        table
                            tr
                                th Harmless
                                th Malicious
                                th Suspicious
                                th Undetected
                            tr
                                td #{result.threatScoreHarmless}
                                td #{result.threatScoreMalicious}
                                td #{result.threatScoreSuspicious}
                                td #{result.threatScoreUndetected}
                div.comments 
                    h1 Historical Comments 
                    if result.comments.length > 0
                        div.histComments                       
                            for comment in result.comments
                                p #{comment}


                    form.commentForm(action="/submit-comment" method="POST")
                        textarea.commentInputField(name="comment" rows="4" cols="100")
                        input(type='hidden', name='search', value=result.url )
                        button.commentButton(type="submit" rows='4' cols='20')
                            | Add
                            br
                            | Comment

